<div class="row">
  <h2 class="text-center">Foods you have logged</h1>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <table class="table table-striped">
      <th><%= sortable "time_consumed" %></th>
      <th><%= sortable "type_id", "Type of Meal" %></th>
      <th><%= sortable "category_id", "Food Category" %></th>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.time_consumed %></td>
          <td><%= food.type.name.titleize %></td>
          <td><%= food.category.name.titleize %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
